In [2]:
import pandas as pd
from datetime import datetime

In [3]:
def format_with_commas(x):
    
    return '{:,.0f}'.format(x)


def add_grupo(asiento):
    grupos_plan_general_contable = {'1': '100',
                                '2':'200',
                                '3': '300',
                                '4':'400',
                                '5': '500',
                                '6':'600',
                                '7': '700',
                                '8':'800',
                                '9': '900'}
    grupo = asiento['NoCuenta'][:1]
    
    return grupos_plan_general_contable[grupo]


def create_purchases(asiento):
    if asiento['NoCuenta'].startswith('6'):
        return asiento['Debe'] - asiento['Haber']
    else:
        return 0
    
    
def create_sales(asiento):
    if asiento['NoCuenta'].startswith('7'):
        return asiento['Haber'] - asiento['Debe']
    else:
        return 0

In [4]:
pd.options.display.float_format = format_with_commas

In [5]:
dataset = pd.read_csv('../datasets/test.csv')
dataset.head(6)

,Movimiento,Fecha,Cuenta,NoCuenta,Debe,Haber,Entidad
0,2024/01425,2024-05-01,Acreedores por prestaciones de servicios (euros),410000,0,44,Mark Reeves
1,2024/01425,2024-05-01,Otros servicios,629000,36,0,Mark Reeves
2,2024/01425,2024-05-01,Hacienda Pública. IVA soportado,472000,8,0,Mark Reeves
3,2024/01317,2024-05-01,Acreedores por prestaciones de servicios (euros),410000,0,3,Jake Shaw
4,2024/01317,2024-05-01,Otros servicios,629000,3,0,Jake Shaw
5,2024/01314,2024-05-01,Acreedores por prestaciones de servicios (euros),410000,0,278,Susan Hogan

In [6]:
dataset.drop(columns = ['Movimiento'], inplace = True)
dataset

,Fecha,Cuenta,NoCuenta,Debe,Haber,Entidad
0,2024-05-01,Acreedores por prestaciones de servicios (euros),410000,0,44,Mark Reeves
1,2024-05-01,Otros servicios,629000,36,0,Mark Reeves
2,2024-05-01,Hacienda Pública. IVA soportado,472000,8,0,Mark Reeves
3,2024-05-01,Acreedores por prestaciones de servicios (euros),410000,0,3,Jake Shaw
4,2024-05-01,Otros servicios,629000,3,0,Jake Shaw
...,...,...,...,...,...,...
3639,2024-01-01,Acreedores por prestaciones de servicios (euros),410000,0,278,Susan Hogan
3640,2024-01-01,Arrendamientos y cánones,621000,230,0,Susan Hogan
3641,2024-01-01,Hacienda Pública. IVA soportado,472000,48,0,Susan Hogan
3642,2024-01-01,Acreedores por prestaciones de servicios (euros),410000,0,3,Jake Shaw
3643,2024-01-01,Otros servicios,629000,3,0,Jake Shaw

In [7]:
dataset.reset_index(inplace = True)
dataset.rename(columns = {'index': 'ID'}, inplace = True)
dataset

,ID,Fecha,Cuenta,NoCuenta,Debe,Haber,Entidad
0,0,2024-05-01,Acreedores por prestaciones de servicios (euros),410000,0,44,Mark Reeves
1,1,2024-05-01,Otros servicios,629000,36,0,Mark Reeves
2,2,2024-05-01,Hacienda Pública. IVA soportado,472000,8,0,Mark Reeves
3,3,2024-05-01,Acreedores por prestaciones de servicios (euros),410000,0,3,Jake Shaw
4,4,2024-05-01,Otros servicios,629000,3,0,Jake Shaw
...,...,...,...,...,...,...,...
3639,3639,2024-01-01,Acreedores por prestaciones de servicios (euros),410000,0,278,Susan Hogan
3640,3640,2024-01-01,Arrendamientos y cánones,621000,230,0,Susan Hogan
3641,3641,2024-01-01,Hacienda Pública. IVA soportado,472000,48,0,Susan Hogan
3642,3642,2024-01-01,Acreedores por prestaciones de servicios (euros),410000,0,3,Jake Shaw
3643,3643,2024-01-01,Otros servicios,629000,3,0,Jake Shaw

In [38]:
dataset['NoCuenta'] = dataset['NoCuenta'].astype(str).str[:3]
dataset['Compras'] = dataset.apply(create_purchases, axis = 1)
dataset['Ventas'] = dataset.apply(create_sales, axis = 1)
dataset

,ID,Fecha,Cuenta,NoCuenta,Debe,Haber,Entidad,Compras,Ventas
0,0,2017-09-25,Capital social,100,0,"1,500",Allison Hill,0,0
1,1,2017-09-25,BBVA,572,"1,500",0,Allison Hill,0,0
2,2,2017-09-25,Capital social,100,0,"1,500",Noah Rhodes,0,0
3,3,2017-09-25,BBVA,572,"1,500",0,Noah Rhodes,0,0
4,4,2017-09-25,Acreedores por prestaciones de servicios (euros),410,0,223,Angie Henderson,0,0
...,...,...,...,...,...,...,...,...,...
36306,36306,2024-01-11,Prestaciones de servicios en España,705,0,56,Sara James,0,56
36307,36307,2024-01-11,Clientes (euros),430,95,0,Mark Richards,0,0
36308,36308,2024-01-11,Prestaciones de servicios en España,705,0,0,Mark Richards,0,0
36309,36309,2024-01-11,Hacienda Pública. IVA repercutido,477,0,16,Mark Richards,0,0
36310,36310,2024-01-11,Prestaciones de servicios en España,705,0,79,Mark Richards,0,79

In [39]:
grupos_plan_general_contable = {'1': '100',
                               '2':'200',
                               '3': '300',
                               '4':'400',
                               '5': '500',
                               '6':'600',
                               '7': '700',
                               '8':'800',
                               '9': '900'}
dataset['NoGrupo'] = dataset.apply(add_grupo, axis =1)
dataset

,ID,Fecha,Cuenta,NoCuenta,Debe,Haber,Entidad,Compras,Ventas,NoGrupo
0,0,2017-09-25,Capital social,100,0,"1,500",Allison Hill,0,0,100
1,1,2017-09-25,BBVA,572,"1,500",0,Allison Hill,0,0,500
2,2,2017-09-25,Capital social,100,0,"1,500",Noah Rhodes,0,0,100
3,3,2017-09-25,BBVA,572,"1,500",0,Noah Rhodes,0,0,500
4,4,2017-09-25,Acreedores por prestaciones de servicios (euros),410,0,223,Angie Henderson,0,0,400
...,...,...,...,...,...,...,...,...,...,...
36306,36306,2024-01-11,Prestaciones de servicios en España,705,0,56,Sara James,0,56,700
36307,36307,2024-01-11,Clientes (euros),430,95,0,Mark Richards,0,0,400
36308,36308,2024-01-11,Prestaciones de servicios en España,705,0,0,Mark Richards,0,0,700
36309,36309,2024-01-11,Hacienda Pública. IVA repercutido,477,0,16,Mark Richards,0,0,400
36310,36310,2024-01-11,Prestaciones de servicios en España,705,0,79,Mark Richards,0,79,700

In [40]:
dataset['Fecha'] = pd.to_datetime(dataset['Fecha']).dt.strftime('%d/%m/%Y')
dataset

,ID,Fecha,Cuenta,NoCuenta,Debe,Haber,Entidad,Compras,Ventas,NoGrupo
0,0,25/09/2017,Capital social,100,0,"1,500",Allison Hill,0,0,100
1,1,25/09/2017,BBVA,572,"1,500",0,Allison Hill,0,0,500
2,2,25/09/2017,Capital social,100,0,"1,500",Noah Rhodes,0,0,100
3,3,25/09/2017,BBVA,572,"1,500",0,Noah Rhodes,0,0,500
4,4,25/09/2017,Acreedores por prestaciones de servicios (euros),410,0,223,Angie Henderson,0,0,400
...,...,...,...,...,...,...,...,...,...,...
36306,36306,11/01/2024,Prestaciones de servicios en España,705,0,56,Sara James,0,56,700
36307,36307,11/01/2024,Clientes (euros),430,95,0,Mark Richards,0,0,400
36308,36308,11/01/2024,Prestaciones de servicios en España,705,0,0,Mark Richards,0,0,700
36309,36309,11/01/2024,Hacienda Pública. IVA repercutido,477,0,16,Mark Richards,0,0,400
36310,36310,11/01/2024,Prestaciones de servicios en España,705,0,79,Mark Richards,0,79,700

In [41]:
dataset.to_parquet('../datasets/diario.parquet')
dataset.to_csv('../datasets/check.csv')